.filter {
  margin-top: 45px;
  .flex {
    height: 40px;
    background-color: #fff;
  }
  .flex_item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    .icon-arrow {
      color: #ddd;
      font-size: 13px;
      margin-left: 3px;
    }
  }
  .am-segment {
    border-radius: 0;
  }
  .am-drawer-draghandle {
    display: none;
  }
  .active {
    color: #13a677;
  }
}