.find_house {
  .icon-back {
    font-size: 14px !important;
    color: #aaa;
  }
  .con {
    top: 5px;
    width: 92%;
    left: 30px;
    padding-left: 0px;
    .left {
      flex: 14;
      .dz {
        font-size: 12px;
      }
    }
    .right {
      flex: 1;
    }
  }
  .icon-map {
    color: #21b979 !important;
  }
  .top {
    .icon-back {
      padding: 5px;
      position: absolute;
      top: 9px;
      left: 5px;
    }
  }
  .house_list {
    padding: 0 10px;
    background-color: #fff;
    .ReactVirtualized__Grid__innerScrollContainer {
      background-color: #fff;
    }
    .content {
      margin-top: 10px;
      border-bottom: 1px solid #eee;
      padding: 5px 0;
      .right {
        margin-left: 10px;
        .t {
          margin-top: 6px;
        }
        .tags {
          margin-top: 6px;
        }
        .pirce {
          margin-top: 7px;
          font-size: 14px;
        }
      }
    }
  }
}