.map {
  padding-top: 45px;
  height: 100%;
}

.container {
  height: 100%;
}

.map :global(.am-navbar) {
  margin-top: -45px;
  border-bottom: 1px solid #ddd;
}

.map :global(.am-navbar-title) {
  font-size: 15px;
  border-radius: 50%;
}

.bubble {
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  left: 20px;
  color: #fff;
}

.name {
  width: 0;
  height: 0;
  position: absolute;
  top: 10px;
  left: 20px;
  color: #fff;
}