.nav {
  padding: 10px 0;
  background-color: #fff;
}

.nav img {
  margin-bottom: 5px;
  width: 48px;
}

.nav h2 {
  font-weight: 400;
  font-size: 13px;
  color: #333;
}

.nav .am-flexbox-item {
  text-align: center;
}