.cityList {
  height: 100%;
  padding-top: 45px;
  .navbar {
    margin-top: -45px;
    background-color: #f6f5f6;
    color: #333;
  }
  .am-navbar-title {
    font-size: 16px;
    color: #333;
  }
  background-color: #fff;
  .city {
    padding-top: 10px;
    .title {
      font-size: 13px;
      padding: 0px 0 0 10px;
      color: #aaa;
    }
    .name {
      border-bottom: 1px solid #eee;
      font-size: 14px;
      color: #333;
      padding: 20px 0 10px 10px;
    }
  }
  .right {
    position: absolute;
    flex-direction: column;
    height: 90%;
    top: 60px;
    right: 5px;
    font-size: 14px;
    .right_index {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 7px 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      font-size: 12px;
    }
    .active {
      background-color: #0d9576;
      color: #fff;
      border-radius: 50%;
      font-size: 12px;
    }
  }
}